.App {
  width: 920px;
  margin: 0 auto;
}
.App > .post {
  margin-top: 10px;
}
.post {
  display: flex;
  align-items: start;
  flex-direction: column;
  border: rgb(0, 217, 255) solid 3px;
  padding: 15px 30px;
  margin-bottom: 20px;
  border-radius: 15px;
  background-color: rgb(240, 240, 240);
}
.post__content {
  min-width: fit-content;
  text-align: start;
}
.post__btn {
  margin-top: 10px;
  margin-bottom: 5px;
  align-self: end;
}
.post__btn > button {
  padding: 3px 25px;
  border-radius: 8px;
}
.post__btn > button:hover {
  transition: 0.5s;
  background-color: brown;
}